<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>APP</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/index.js" defer></script>
          </head>
    <body>
        <!-- display image, username, and email -->
        <header>
            <div>
                <img src="/static/chinonso.jpg" alt="HNG logo" height="150px" width="150px" />
            </div>
            <div>
                <h1>WELCOME TO HNG</h1>
                <h2>Name: Chinonso Morba</h2>
                <h2>Username: dominic-source</h2>
                <h2>Email: chinonsodomnic@gmail.com</h2>
            </div>
        </header>
        <footer>
            <div>

            </div>
            <h3>Check out HNG <a href="https://hng.tech">here</a></h3>
        </footer>
       
    </body>
</html>